/obj
/Temp
/.vs
/Assets/*.meta
*.meta
/Library
/win_Data
/FootStoneUnity_Data
/Logs
/MonoBleedingEdge
/FootStoneUnity.exe
/t_mono.apk
/t1.apk
/t1-0.1-v1.symbols.zip
/Unity.Analytics.DataPrivacy.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/UnityCrashHandler64.exe
/UnityEditor.SpatialTracking.csproj
/UnityEditor.XR.LegacyInputHelpers.csproj
/UnityEngine.SpatialTracking.csproj
/UnityEngine.XR.LegacyInputHelpers.csproj
/UnityPlayer.dll
/_ReSharper.Caches
